name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      APP_ENV: production
      DB_DRIVER: ${{ secrets.DB_DRIVER }}
      DB_SOURCE: ${{ secrets.DB_SOURCE }}
      SERVER_ADDRESS: ${{ secrets.SERVER_ADDRESS }}
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: secret
          POSTGRES_DB: simple_bank
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22.x'

      - name: Set up environment variables
        run: |
          echo "DB_SOURCE=${{ secrets.DB_SOURCE }}" >> app.env
          echo "DB_DRIVER=${{ secrets.DB_DRIVER }}" >> app.env
          echo "SERVER_ADDRESS=${{ secrets.SERVER_ADDRESS }}" >> app.env

      - name: Install golang-migration
        run: |
          curl -L https://github.com/golang-migrate/migrate/releases/download/v4.17.1/migrate.linux-amd64.tar.gz | tar xvz
          sudo mv migrate /usr/bin/migrate
          which migrate

      - name: Run migrations
        run: make migrateup

      - name: Test
        run: make test
        env:
          DB_SOURCE: ${{ secrets.DB_SOURCE }}
